

services:
  db:
    image: postgres:15
    container_name: leetcode_srs_db
    environment:
      POSTGRES_DB: leetcode_srs
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: always

volumes:
  db_data:
